@media only screen and (min-width: 768px) 
{
    *
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .main
    {
        display: flex;
        flex-direction:column;
        width:100%;
        height:100vh;
        background-color: red;
    }
   .MainHeader
   {
    height: 90px;
    width:100%;
   }
.blackdiv
{
    background-color: #4B4B4B; 
    height:40%;
    width:100%;
}
.MainBar
{
    display: flex;
    flex-direction: row;
    width:100%;
    background-color:white;
    height:60%;
}
.LogoPic
{
    width:30%;
    height: 100%;
    padding-left: 10%;
}
.LogoPic>img
{
    width:40%;
    height: 100%;
}

.NavClass {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100%;
}

.NavClass > * { /* Target all direct children of NavClass */
    margin-left:10% ; /* Add right margin */
    margin-top: 2%;
}
.NavClass > :nth-child(0) { /* Target all direct children of NavClass */
    color:orange; /* Add right margin */
}
/* Optional: Remove the margin from the last child */
.NavClass > *:last-child {
    margin-right: 0; /* No margin on the last item */
}
.MainPage
{
    width:70%;
    height: 100%;
    background-color: green;
    margin: 10%;
    margin-right: 50px;
    margin-bottom: 5%;
}
#hello {
    width: 40%;
    height: 10%;
}

#hello > p {
    width: 100%; /* Set to 100% to fill the parent width */
    height: 100%; /* Set to 100% to fill the parent height */
    margin: 0; /* Remove default margin to prevent overflow */
    font-size:30px; /* You can adjust this or use a specific size */
    color:orange;
}


#Asia {
    width: 80%; /* Set width to fill most of the parent */
    height: 150px; /* Set a fixed height */
    
}

#Asia > p {
    width: 60%; /* Set to 100% to fill the parent width */
    height: 100%; /* Set to 100% to fill the parent height */
    margin: 0; /* Remove default margin to prevent overflow */
    font-size: 50px; /* Font size */
}

#small {
    margin-top: 3%;
    width: 40%; /* Set width to fill most of the parent */
    height: 80px; /* Set a fixed height */
    background-color: white;
}

#Asia > p {
    width: 60%; /* Set to 100% to fill the parent width */
    height: 100%; /* Set to 100% to fill the parent height */
    margin: 0; /* Remove default margin to prevent overflow */
    font-size: 50px; /* Font size */
}

#blakia {
    width: 40%; /* Set width to fill most of the parent */
    height: 80px; /* Set a fixed height */
    background-color:yellow;
    padding-top: 10;
}

#blakia> p {
    width: 100%; /* Set to 100% to fill the parent width */
    height: 100%; /* Set to 100% to fill the parent height */
    margin: 0; /* Remove default margin to prevent overflow */
    font-size: 30px; /* Font size */
}

#lastLine {
    width: 40%; /* Set width to fill most of the parent */
    height: 50px; /* Set a fixed height */
    background-color:orange;
    
}

#lastLine> p {
    width: 100%; /* Set to 100% to fill the parent width */
    height: 100%; /* Set to 100% to fill the parent height */
    margin: 0; /* Remove default margin to prevent overflow */
    font-size: 30px; /* Font size */
}

}